* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.control-panel {
  flex: 1;
}

.workspace {
  flex: 4;
  border: 1px solid #000;
}

.workspace > div {
  display: flex;
}

.grid-box {
  height: 30px;
  width: 30px;
  outline: 1px solid #000;
}