* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Verdana, sans-serif;
}

.header {
  text-align: center;
  margin: 36px 0;
  font-size: 56px;
  font-weight: 600;
}

.container {
  display: flex;
  justify-content:center ;
  align-items: center;
  gap: 40px;
}

.control-panel {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  gap: 30px;
}

.workspace {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  height: 600px;
  width: 600px;
}

.workspace > div {
  display: flex;
  flex: 1;
}

.grid-box {
  flex: 1;
  outline: 1px solid #000;
}

.color-box {
  background-color: #000;
}

button {
  background-color: #fff;
  font-size: 20px;
  width: 8em;
  height: 2em;
  border-radius: 5px;
}