* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.control-panel {
  flex: 1;
}

.workspace {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  height: 700px;
  width: 700px;
}

.workspace > div {
  display: flex;
  flex: 1;
}

.grid-box {
  flex: 1;
  outline: 1px solid #000;
}

.color-box {
  background-color: #000;
}